
@{
    ViewBag.Title = "supplierName";
}

<h2>SupplierName</h2>

<a href="~/Views/Supplier/AddSupplierView.cshtml">Add</a>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            Company Name
        </th>
        <th>
            Address 1
        </th>
        <th>
            Address 2
        </th>
        <th>
            Email Address
        </th>
        <th>
            Supplier Type
        </th>
    </tr>
    @foreach (Supplier sn in Model)
        {
            <tr>
                <td>
                    @sn.CompanyName
                </td>
                
                <td>
                    @sn.Person.Address1
                </td>
                <td>
                    @sn.Person.Address2
                </td>
                <td>
                @sn.Person.EmailAddress
               </td>
                <td>
                    @sn.SupplierType.Name
                </td>
            </tr>
        }
</table>
