@model BootLeg.Models.ReservationOrderEntryModel
@{
    ViewBag.Title = "ReservationOrderEntry";
}

<h2>ReservationOrderEntry</h2>
@using (Html.BeginForm())
{
    <table>
        <tr hidden="hidden">
            <td>@Html.LabelFor(x => x.Id)</td>
            <td>@Html.TextBoxFor(x => x.Id)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.ReservationId)</td>
            <td>@Html.DropDownListFor(x => x.ReservationId, Model.ReservationList)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.OrderId)</td>
            <td>@Html.DropDownListFor(x => x.OrderList, Model.OrderList)</td>
        </tr>

    </table>
}

